h1{
    color:blueviolet;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

h4{
    color:rgb(230, 230, 230);
    font-family: 'Labrada', serif;
}

h2{
    color:rgb(255, 183, 0);
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

h3{
    color:rgb(255, 183, 0);
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

body{
    background-color: rgb(56, 47, 79);
}}